@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

body {
  background-color: #294846;
}

/**************************/
/* HEADER */
/**************************/
.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  font-weight: bold;
}

.logo {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}

.navbar a {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: #67b4b0;
}

/**************************/
/* BROWSING */
/**************************/
.browsing-section {
  padding: 4rem 7rem 4rem 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.browsing-box {
  max-width: 160rem;
  width: 100%;
  padding: 2rem;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 0.7rem 0.5rem rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.book-img {
  max-width: 40rem;
  border-radius: 10px;
  box-shadow: 0 0 0.5rem 0.7rem rgba(0, 0, 0, 0.1);
}

.book-info h2 {
  font-size: 3.6rem;
  margin-top: 3rem;
}

.book-info h1 {
  font-size: 2.4rem;
}

.author-box {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.author-box img {
  border-radius: 50%;
}

.author-box h1 {
  color: #67b4b0;
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-info p {
  padding: 0.4rem 1rem;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.book-top {
  margin-top: 5rem;
}

.btns {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 3rem;
}

.btns input {
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 10px;
}

.book-intro {
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  gap: 3rem;
}

.book-intro-title {
  font-size: 3.6rem;
  font-weight: bold;
}

.book-intro-content {
  height: 42rem;
  padding: 2rem;
  font-size: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 0.7rem 0.5rem rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

/**************************/
/* COMMENT */
/**************************/
.comment-section {
  padding: 3rem 9rem 4.8rem 9rem;
}

.commect-title {
  padding: 2rem;
  font-size: 3.6rem;
  color: #fff;
  font-weight: bold;
  border-radius: 12px;
}

.commect-box {
  padding: 3rem;
  width: auto;
  height: auto;
  border-radius: 15px;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  gap: 2rem;
}

.commect {
  padding: 2rem;
  width: 70rem;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 0.8rem 0.6rem rgba(0, 0, 0, 0.15);
}

.head-pic {
  border-radius: 50%;
  margin-right: 0.8rem;
}

.name-email {
  font-size: 1.8rem;
}

.name {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.email {
  color: #989ea4;
}

.content {
  margin-top: 2rem;
  font-size: 1.8rem;
}

.content img {
  border-radius: 10px;
  margin-top: 3rem;
  width: 50%;
}

.time {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #989ea4;
}

.writing-box {
  padding: 3rem;
  min-height: 10rem;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-grow: 1fr auto;
}

.writing-img-box {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 0.7rem 0.5rem rgba(0, 0, 0, 0.15);
}

.writing-img-box ion-icon {
  font-size: 4rem;
}

.writing-content {
  width: 90rem;
  padding: 1rem;
  border-radius: 30px;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
  background: #67b4b0;
}
