/**************************/
/* LOGIN */
/**************************/
.section-login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #294846;
}

.login-box {
  width: 50rem;
  height: 70rem;
  pad: 3rem;
  border: solid 2px #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-color: #fff;
  border-radius: 20px;
}

.login-title {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.login-subtitle {
  font-size: 2.4rem;
  color: #adb5bd;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
}

.input-wrap {
  width: 28rem;
  height: 37px;
  margin-bottom: 2rem;
  position: relative;
  margin-bottom: 3rem;
}

.input-field {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: solid 1.2px #bbb;
  font-size: 1.8rem;
  color: #151111;
  transition: 0.4s;
}

.input-label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-70%);
  font-size: 1.8rem;
  color: #bbb;
  pointer-events: none;
  transition: 0.4s;
}

.input-field.active {
  border-bottom-color: #151111;
}

.input-field.active + .input-label {
  font-size: 2rem;
  top: -3px;
}

.login-btn {
  padding: 1.5rem 4rem;
  font-size: 2.4rem;
  font-weight: bold;
  background-color: #67b4b0;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s 0.05s ease-in-out;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 0.7rem 0.5rem rgba(0, 0, 0, 0.1);
}

.login-btn:hover {
  background-color: #294846;
}

/**************************/
/* HEADER */
/**************************/
.header {
  padding: 2rem 7rem 2rem 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-box {
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1.8rem;
  font-weight: 700;
  max-width: 160rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: -1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}

.header-logo {
  width: 20rem;
  position: absolute;
  left: 2rem;
  cursor: pointer;
}

.header-item {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 12rem;
  height: 6rem;
  font-size: 1.8rem;
  border-radius: 10px;
  transition: all 0.3s 0.05s ease-in-out;
  cursor: pointer;
}

.header-item:hover {
  background-color: #67b4b0;
  color: #fff;
}

.header-item-span {
  margin-right: 0.7rem;
}

.header-person-info {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-person-info span {
  color: #67b4b0;
}

.header-person-info img {
  border-radius: 100%;
}

/**************************/
/* BOOK-BROWSING */
/**************************/
.section-book {
  padding: 4rem 9rem 4rem 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-dessert {
  padding: 4rem 9rem 4rem 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-box {
  width: 100%;
  max-width: 160rem;
  height: 100rem;
  display: flex;
  border-radius: 12px;
  border: solid 2px #000;
}

.book-box button {
  transition: all 0.3s 0.1s ease-in-out;
}

.book-box button:hover {
  color: #67b4b0;
  box-shadow: 0 0 1rem 1rem rgba(103, 180, 176, 0.35);
}

.catalogue {
  height: 100%;
  width: 25rem;
  overscroll-behavior: contain;
  background-color: #fff;
  border-radius: 12px;
  overflow: scroll;
  border-right: solid 2px #000;
}

.catalogue::-webkit-scrollbar {
  width: 0;
}

.catalogue-title {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 2px #000;
}

.catalogue-title h1 {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
}

.catalogue dl {
  padding: 0 0 0 0;
}

.catalogue dt {
  background: #67b4b0;
  border-bottom: 1px solid #989ea4;
  color: #fff;
  font: bold 18px/21px Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 2px 0 0 12px;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
}

.catalogue dd {
  font: bold 1.8rem/2rem Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 1rem 2rem 1rem 1.2rem;
  white-space: nowrap;
  transition: all 0.3s 0.05s ease-in-out;
  cursor: pointer;
}

.catalogue dd span {
  display: inline-block;
  color: #67b4b0;
  opacity: 0;
  transition: all 0.3s 0.1s ease-in-out;
}

.catalogue dd:hover {
  transform: translateX(1rem);
}

.catalogue dd:hover span {
  transform: translateX(1.5rem);
  opacity: 1;
}

.catalogue dd + dd {
  border-top: 1px solid #ccc;
}

.book-manage {
  width: 100%;
  min-height: 60rem;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
  background: #67b4b0;
}

.book-manage-title {
  font-size: 3.6rem;
  font-weight: bold;
  padding: 2rem 2rem 0 2rem;
  text-align: center;
  border-bottom: solid 2px #000;
}

.book-search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: 2.4rem;
  font-weight: bold;
  border-bottom: solid 2px #000;
}

.book-search-box input {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.7rem;
  margin-left: 2rem;
  border: none;
  background-color: #dee2e6;
  color: #000;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
}

.book-search-box button {
  border-radius: 10px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
}

.book-manage-box {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
  gap: 3rem;
  overflow: scroll;
  transition: all 0.3s 0.1s ease-in-out;
}

.book-item {
  display: flex;
  width: 100%;
  max-width: 120rem;
  height: 20rem;
  border-radius: 12px;
  box-shadow: 0 0 0.7rem 0.5rem rgba(0, 0, 0, 0.1);
}

.book-item img {
  height: 100%;
}

.book-info {
  width: 100%;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 0.5rem;
  row-gap: 0rem;
}

.book-intro {
  grid-column-start: 1;
  grid-column-end: 5;
}

.book-info input {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.7rem;
  margin-left: 2rem;
  border: none;
  background-color: #dee2e6;
  color: #000;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
}

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-box button {
  width: 16rem;
  height: 4rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 12px;
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: all 0.3s 0.1s ease-in-out;
}

/**************************/
/* FOOTER */
/**************************/
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
