/*

            大赤金  深松绿
- Primary: #67B4B0 #6D7358
- Tints:
#67b4b0 #76bcb8 #85c3c0 #95cbc8 #a4d2d0 #b3dad8 #c2e1df #d1e9e7 #e1f0ef #f0f8f7
#6d7358 #7c8169 #8a8f79 #999d8a #a7ab9b #b6b9ac #c5c7bc #d3d5cd #e2e3de #f0f1ee

- Shades: 
#373a2c #21221a
#345a58 #1f3635


*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

/**************************/
/* Common reusable components */
/**************************/
.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  /* margin-bottom: 9.6rem; */
}

/* .grid:last-child {
  margin-bottom: 0;
} */

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* .grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
} */

.grid--center-v {
  align-items: center;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align {
  align-items: center;
}

.justify {
  justify-content: center;
}
